# Backend Go
backend/*.db
backend/*.db-shm
backend/*.db-wal
backend/.env
backend/bin/
backend/vendor/

# Mobile React Native / Expo
mobile/node_modules/
mobile/.expo/
mobile/dist/
mobile/android/
mobile/ios/
mobile/.env
mobile/.env.local
mobile/.env.production

# Assets yang di-generate
mobile/assets/adaptive-icon.png
mobile/assets/splash.png

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/settings.json
.idea/
*.swp
